<div class="modal">
  <div class="modal__overlay" (click)="dismiss()"></div>
  <div class="modal__grid">
    <div class="modal__header">
      <p class="modal__title">Select language</p>
      <button type="button" class="modal__close" (click)="dismiss()"><i class="icon icon-close"></i></button>
    </div>
    <div class="modal__list modal__content">
      <!-- BEGIN item -->
      <div class="modal__item">
        <div class="modal__icon"><img src="../../assets/flags/aze.svg"></div>
        <p class="modal__name">Azerbaijani</p>
        <i class="icon icon-language-arrow"></i>
      </div>
      <!-- END item -->
      <!-- BEGIN item -->
      <div class="modal__item">
        <div class="modal__icon"><img src="../../assets/flags/gbr.svg"></div>
        <p class="modal__name">English</p>
        <i class="icon icon-language-arrow"></i>
      </div>
      <!-- END item -->
      <!-- BEGIN item -->
      <div class="modal__item">
        <div class="modal__icon"><img src="../../assets/flags/rus.svg"></div>
        <p class="modal__name">Russian</p>
        <i class="icon icon-language-arrow"></i>
      </div>
      <!-- END item -->
    </div>
  </div>
</div>
