<ion-header class="header header_styled">
  <div class="header__grid header__grid_styled">
    <button type="button" class="back-btn"><i class="icon icon-back-arrow"></i>Back</button>
    <p class="header__title">Idylle</p>
  </div>
  <div class="navbar">
    <div class="search">
      <i class="icon icon-search"></i>
      <input type="text" class="search__input" placeholder="Search">
    </div>
  </div>
</ion-header>
<ion-content>
  <div id="map_canvas" class="map"></div>
  <button type="button" class="btn btn-full btn_positioned">Add current location</button>
</ion-content>
