.toggle-list{
    &__item{
        background: none;
        padding: 0;
        min-height: auto;
        overflow: visible;
        contain: none;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        & .item-inner{
            align-items: center;
            overflow: visible;
        }
        &.item-ios{
            & .item-inner{
                border-bottom: none;
                padding: 0;
            }
        }
        &.item-md{
            & .item-inner{
                border-bottom: none;
                padding: 0;
            }
        }
    }
}

.toggle-md, .toggle-ios{
    contain: none;
}