<ion-content class="template phone-number-page">
  <button (click)="openLanguages()" type="button" class="lang template__lang">
      <img src="assets/flags/gbr.svg" class="lang__icon"/>
  </button>
  <img src="assets/img/icons/logo.svg" class="logo main-page__img">
  <div class="phone-number-page__grid">
    <p class="phone-number-page__text">Choose country code
      <br>and enter phone number</p>
    <div class="phone-number-page__form">
      <div class="phone-number-page__select country-select" (click)="selectCountry()">
        <img src="" class="country-select__img">
      </div>
      <input type="text" class="template__input phone-number-page__input" value="+375 (29) 505 76 11" />
    </div>
  </div>
  <button class="btn btn-login btn_positioned" type="button">Login</button>
</ion-content>
