.tabs{
    box-shadow: 0 -4px 14px 0 rgba(0, 0, 0, .05);
    background: $white-color;
    padding: 8px 10px;
    display: flex;
    position: relative;
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 19%;
        flex-shrink: 0;
        background: transparent;
        &:hover{
            & .tabs__name{
                color: $second-color;
            }

            & .icon{
                color: $second-color;
            }
        }
        &_styled{
            flex: 1 1 auto;
            width: 24%;
        }
        &_active{
            & .tabs__name{
                color: $second-color;
            }

            & .icon{
                color: $second-color;
            }
        }
    }
    &__icon{
        display: flex;
        justify-content: center;
        height: 22px;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    &__name{
        margin: 0;
        font-size: 11px;
        color: rgba($primary-color, .7);
        text-align: center;
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}