.empty-page{
    position: relative;
    &__grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
    }
    &__title{
        margin: 0;
        font-size: 16px;
        @include font-weight('bold');
        color: $resale-color;
        margin-top: 20px;
    }
    &__note{
        margin: 0;
        font-size: 14px;
        color: $gray-color--lighter;
        margin-top: 40px;
        padding-top: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 130px;
            height: 1px;
            background: rgba($black-color, .1);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
