<ion-header class="header">
    <div class="header__grid">
        <button type="button" class="back-btn"><i class="icon icon-back-arrow"></i>Back</button>
        <p class="header__title">Idylle</p>
      </div>
</ion-header>
<ion-content class="empty-page">
  <div class="empty-page__grid">
    <div class="empty-page__icon"><img src="../../assets/img/icons/empty-page.svg" alt="Description"></div>
    <p class="empty-page__title">Uuid code have not been found</p>
    <p class="empty-page__note">No information</p>
  </div>
  <button class="btn btn-confirm btn_positioned" type="button">
    <p class="btn-confirm__name">Complain</p>
  </button>
</ion-content>
