%base{
    @include font();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    @include font();
    font-size: 15px;
    color: rgba($primary-color, .6);
}

 ::-moz-placeholder {
     @include font();
     font-size: 15px;
     color: rgba($primary-color, .6);
     opacity: 1;

}

 :-moz-placeholder {
     @include font();
     font-size: 15px;
     color: rgba($primary-color, .6);
     opacity: 1;

}

 :-ms-input-placeholder {
     @include font();
     font-size: 15px;
     color: rgba($primary-color, .6);

}

 :focus::-webkit-input-placeholder {
    color: transparent;
}

 :focus::-moz-placeholder {
    color: transparent;
}

 :focus:-moz-placeholder {
    color: transparent;
}

 :focus::-ms-input-placeholder {
    color: transparent;
}