@mixin flex($flex-direction: row, $align-items: stretch, $justify-content: flex-start) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font-weight($weight) {
  @if $weight=='normal' {
    font-weight: map-get($font-weight, $weight);
  }
  @else if $weight=='medium' {
    font-weight: map-get($font-weight, $weight);
  }
  @else if $weight=='light' {
    font-weight: map-get($font-weight, $weight);
  }
  @else if $weight=='bold' {
    font-weight: map-get($font-weight, $weight);
  }
}

@mixin border-radius($top, $right, $bottom, $left) {
  border-radius: $top $right $bottom $left;
}

@mixin border($width, $type, $color) {
  border: $width+px $type $color;
}

@mixin font() {
  font-family: map-get($font, first-font-stack);
}

@mixin color-opacity($color, $opacity) {
  color: rgba($color, $opacity);
}

@mixin l-gradient($direction, $color-1, $color-2){
  background: linear-gradient($direction, $color-1, $color-2);
}