$font: (
    first-font-stack: 'Gotham Pro'
);
$base-font-size: 16px;
//Url
$base-path: '../assets/';
//Colors
$white-color: #fff;
$gray-color: #FDFAF7;
$gray-color--darker: #EBEBEB;
$gray-color--lighter: #CDCED2;
$black-color: #333;
$primary-color: #5C5453;
$second-color: #FF6401;
$second-color--lighter: #FF9D00;
$third-color: #33BD4C;
$third-color--lighter: #35DE54;
$fraud-color: #E83349;
$resale-color: #EB7737;
//gifts colors
$gift-color-first: #53C918;
$gift-color-first--lighter: #65E83A;
$gift-color-second: #D44424;
$gift-color-second--lighter: #F27535;
$gift-color-third: #E3A630;
$gift-color-third--lighter: #EDCE1F;
$gift-color-fourth: #D62929;
$gift-color-fourth--lighter: #F21B5B;
//Font weight
$font-weight: ( 
    normal: normal,
    medium: 500,
    light: 300,
    bold: bold
);