.segment-ios,
.segment-md {
  &.segment {
    position: relative;
    &::after{
        content: '';
        position: absolute;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 50px;
        border: 1px solid rgba($second-color--lighter, .3);
        left: 0;
        top: 0;
        z-index: -1;
    }
    border-radius: 50px;
  }
  & .segment {
    &__item {
      font-size: 14px;
      color: $second-color--lighter;
      @include font-weight('bold');
      height: 3.7rem;
      line-height: 3.6rem;
      border: none;
      &:nth-child(n) {
        border-radius: 50px;
      }
      &.segment-activated {
        background: linear-gradient(360deg, #FF6401 0%, #FF9D00 100%, #FF9D00 100%), #148AF7;
        border-color: transparent;
        color: $white-color;
      }
      &:hover {
        &:not(.segment-activated) {
          background: transparent;
        }
      }
    }
  }
}
