.modal {
  width: 100%;
  height: 100%;
  position: relative;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black-color, .5);
    z-index: 5;
  }
  &__grid {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: rgba($white-color, .97);
    box-shadow: 0px -2px 3px rgba($black-color, .05) inset;
  }
  &__header {
    padding: 15px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($primary-color, .1);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 4px;
      background: rgba($primary-color, .2);
      border-radius: 100px;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__title {
    font-size: 18px;
    color: $primary-color;
    @include font-weight('bold');
    margin: 0;
    padding-right: 10px;
  }
  &__close {
    width: 30px;
    height: 30px;
    margin-left: auto;
    text-align: right;
  }
  &__content {
    overflow-y: auto;
    height: 300px;
  }
  &__item {
    padding: 20px 15px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba($primary-color, .1);
  }
  &__icon {
    max-width: 25px;
    margin-right: 15px;
    & img {
      display: block;
    }
  }
  &__name {
    font-size: 14px;
    margin: 0;
    color: $primary-color;
  }
}
