<ion-header class="header">
  <div class="header__grid">
    <p class="header__title">Idylle</p>
  </div>
</ion-header>
<ion-content class="template complain-edit">
  <div class="complain-edit__grid">
    <div class="complain-edit__section">
      <div class="field location field_focused">
        <p class="field__label">Shop Location</p>
        <input type="text" class="field__content" value="62 Nizami St, Baku 1010, Azerbaijan" />
        <i class="icon icon-location"></i>
      </div>
      <div class="field">
        <p class="field__label">Name of shop</p>
        <input type="text" class="field__content" value="MAC Cosmetics" />
      </div>
      <div class="field">
        <p class="field__label">Date of request</p>
        <input type="text" class="field__content" value="20/01/2018" />
      </div>
      <div class="field">
        <p class="field__label">Date of complaint</p>
        <input type="text" class="field__content" value="23/01/2018" />
      </div>
    </div>
    <div class="complain-edit__section toggle-list">
      <ion-item class="toggle-list__item">
        <ion-label class="toggle-list__label">Have you purchased the product?</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
      <ion-item class="toggle-list__item">
        <ion-label class="toggle-list__label">Have you scanned for the first time?</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
      <ion-item class="toggle-list__item">
        <ion-label class="toggle-list__label">Is this the first complaint about the product?</ion-label>
        <ion-toggle checked="false"></ion-toggle>
      </ion-item>
    </div>
    <div class="complain-edit__section">
      <div class="field">
        <p class="field__label">Details</p>
        <textarea class="field__content field__content_styled">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</textarea>
      </div>
    </div>
    <div class="complain-edit__section options">
      <button type="button" class="options__btn">
        <div class="options__icon"><i class="icon icon-plus"></i></div>
        <p class="options__name">Shop photo</p>
      </button>
      <button type="button" class="options__btn">
        <div class="options__icon"><i class="icon icon-plus"></i></div>
        <p class="options__name">Product photo</p>
      </button>
      <button type="button" class="options__btn">
        <div class="options__icon"><i class="icon icon-plus"></i></div>
        <p class="options__name">Check photo</p>
      </button>
    </div>
    <button class="btn btn-full" type="button">Send Complain</button>
  </div>
</ion-content>
