.complain-edit{
    &__section{
        margin-bottom: 20px;
        &:last-child{
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    // &__grid{
    //     padding-bottom: 20px;
    // }
}

.location{
    position: relative;
    & input{
        padding-right: 30px;
    }
}