.search{
    position: relative;
    &__input{
        width: 100%;
        border-radius: 50px;
        border: 1px solid $gray-color--darker;
        padding: 9px 20px;
        padding-left: 35px;
        font-size: 15px;
        color: $primary-color;
    }
}