.header{
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .05);
    background: $white-color;
    padding: 15px 10px;
    position: relative;
    &__search{
        margin-top: 10px;
    }
    &_styled{
        background: rgba($white-color, .7);
    }
    &__title{
        text-align: center;
        font-size: 16px;
        color: $primary-color;
        @include font-weight('bold');
        margin: 0;
        &_styled{
            font-size: 18px;
            @include font-weight('medium');
        }
    }
    &__grid{
        position: relative;
        margin-top: 10px;
        &_styled{
            margin-bottom: 15px;
        }
    }
}

.ios{
    & .header{
        padding-top: 30px;
    }
}