  <ion-content class="scan">
    <div class="scan__grid"></div>
  </ion-content>
  <ion-footer>
      <div class="tabs">
          <button type="button" class="tabs__item tabs__item_active">
            <div class="tabs__icon"><i class="icon icon-history"></i></div>
            <p class="tabs__name">History</p>
          </button>
          <button type="button" class="tabs__item">
            <div class="tabs__icon"><i class="icon icon-bonuses"></i></div>
            <p class="tabs__name">Bonuses</p>
          </button>
          <button class="tabs__item tabs__item_styled"></button>
          <button type="button" class="tabs__item">
            <div class="tabs__icon"><i class="icon icon-info"></i></div>
            <p class="tabs__name">Info</p>
          </button>
          <button type="button" class="tabs__item">
            <div class="tabs__icon"><i class="icon icon-settings"></i></div>
            <p class="tabs__name">Settings</p>
          </button>
          <button type="button" class="scan-btn">
            <div class="scan-btn__icon"><i class="icon icon-camera"></i></div>
            <p class="scan-btn__name">photo</p>
          </button>
        </div>
  </ion-footer>
  