body ion-app.md{
    @extend %base;
}

body ion-app.ios{
    @extend %base;
}

body{
    @extend %base;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

select{
    @extend input;
}

button{
    @extend input;
}

textarea{
    @extend input;
    resize: none;
}

.template{
    & .scroll-content{
        padding: 20px 15px;
    }
    background: rgba($white-color,.975);
    &__lang{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &__input{
        padding: 15px 20px;
        color: $primary-color;
        @include font-weight('medium');
        font-size: 16px;
        width: 100%;
    }
}
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?40511507#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-language-arrow:before { content: '\e800'; } /* '' */
  .icon-location:before { content: '\e801'; } /* '' */
  .icon-out:before { content: '\e802'; } /* '' */
  .icon-plus:before { content: '\e803'; } /* '' */
  .icon-scan:before { content: '\e804'; } /* '' */
  .icon-search:before { content: '\e805'; } /* '' */
  .icon-settings:before { content: '\e806'; } /* '' */
  .icon-arrow:before { content: '\e807'; } /* '' */
  .icon-back-arrow:before { content: '\e808'; } /* '' */
  .icon-bonuses:before { content: '\e809'; } /* '' */
  .icon-camera:before { content: '\e80a'; } /* '' */
  .icon-check:before { content: '\e80b'; } /* '' */
  .icon-close:before { content: '\e80c'; } /* '' */
  .icon-history:before { content: '\e80d'; } /* '' */
  .icon-info:before { content: '\e80f'; } /* '' */