@font-face {
    font-family: 'Gotham Pro';
    src: font('GothamPro-Medium.woff2') format('woff2'),
        font('GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: font('GothamPro.woff2') format('woff2'),
        font('GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: font('GothamPro-Bold.woff2') format('woff2'),
        font('GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: font('GothamPro-Light.woff2') format('woff2'),
        font('GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: font('fontello.woff2?30002528') format('woff2'), 
         font('fontello.woff?30002528') format('woff'),
         font('fontello.svg?30002528#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }