.field{
    border-bottom: 1px solid rgba($black-color, .1);
    &__label{
        font-size: 12px;
        color: rgba($black-color, .35);
        margin: 0;
    }
    &_focused{
        border-bottom-color: $second-color;
        border-bottom-width: 2px;
    }
    &__content{
        margin-top: 5px;
        width: 100%;
        font-size: 16px;
        color: $primary-color;
        line-height: 1.22;
        padding-bottom: 5px;
        &_styled{
            height: 65px;
        }
    }
    &:not(:last-child){
        margin-bottom: 15px;
    }
}