.options{
    display: flex;
    &__btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32%;
        padding: 15px 8px;
        box-shadow: 10px 7px 24px 0 rgba($black-color, .05);
        border-radius: 5px;
        background: $white-color;
        &:not(:last-child){
            margin-right: 2%;
        }
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: linear-gradient(360deg, $second-color 0%, $second-color--lighter 100%);
    }
    &__name{
        font-size: 12px;
        margin: 0;
        margin-top: 10px;
        color: $second-color;
        @include font-weight('medium');
    }
}