.profile{
    &__header{
        padding: 70px 15px;
        padding-bottom: 75px;
    }
    &__grid{
        padding: 20px 15px;
        padding-top: 0;
    }
    &__options{
        width: 100%;
        max-width: 290px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        border-radius: 5px;
    }
    &__img{
        border-radius: 50%;
        position: absolute;
        top: 50%;
        width: 110px;
        height: 110px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn{
        width: 50%;
        padding: 10px 20px;
        padding-top: 8px;
        font-size: 14px;
        color: $white-color;
        text-transform: uppercase;
        @include font-weight('bold');
    }
    &__edit{
        text-align: right;
        background: linear-gradient(360deg, #FF6401 0%, #FF9D00 100%, #FF9D00 100%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-right: 30px;
    }
    &__delete{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: left;
        background: linear-gradient(360deg, #E83349 0%, #FF304A 100%);
    }
}
