<ion-header class="header">
  <div class="header__grid">
    <button type="button" class="back-btn"><i class="icon icon-back-arrow"></i>Back</button>
    <p class="header__title">Profile</p>
  </div>
</ion-header>
<ion-content class="profile">
  <div class="profile__header">
    <div class="profile__options">
      <button type="button" class="profile__btn profile__delete">delete</button>
      <img src="../../assets/img/profile.png" class="profile__img">
      <button type="button" class="profile__btn profile__edit">edit</button>
    </div>
  </div>
  <div class="profile__grid">
    <div class="field">
      <p class="field__label">Username</p>
      <input type="text" class="field__content" readonly value="Sunny Vo" />
    </div>
    <div class="field">
      <p class="field__label">Phone</p>
      <input type="text" class="field__content" readonly value="+994 555901489" />
    </div>
    <div class="field">
      <p class="field__label">Email</p>
      <input type="text" class="field__content" readonly value="sunny.vo@gmail.com" />
    </div>
    <div class="field">
      <p class="field__label">Gender</p>
      <input type="text" class="field__content" readonly value="Male" />
    </div>
    <div class="field">
      <p class="field__label">Birthday</p>
      <input type="text" class="field__content" readonly value="12/01/1979" />
    </div>
  </div>
</ion-content>
<ion-footer>
    <div class="tabs">
        <button type="button" class="tabs__item tabs__item_active">
          <div class="tabs__icon">
            <i class="icon icon-history"></i>
          </div>
          <p class="tabs__name">History</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-bonuses"></i>
          </div>
          <p class="tabs__name">Bonuses</p>
        </button>
        <button class="tabs__item tabs__item_styled"></button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-info"></i>
          </div>
          <p class="tabs__name">Info</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-settings"></i>
          </div>
          <p class="tabs__name">Settings</p>
        </button>
        <button type="button" class="scan-btn">
          <div class="scan-btn__icon">
            <i class="icon icon-scan"></i>
          </div>
          <p class="scan-btn__name">scan</p>
        </button>
      </div>
</ion-footer>
