.points {
  position: relative;
  padding: 4px 10px;
  border-radius: 30px;
  @include l-gradient(261.36deg, $second-color, $second-color--lighter);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    background: $white-color;
    border-radius: 30px;
  }
  &__text {
    font-size: 13px;
    position: relative;
    z-index: 3;
    color: $second-color--lighter;
  }
}
