.main-page{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), image('background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &__footer{
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 15px;
    }
    &__btn{
        margin-bottom: 15px;
    }
    &__note{
        font-size: 12px;
        color: rgba($primary-color, .5);
        text-align: center;
        max-width: 220px;
        margin: 0 auto;
        line-height: 1.42;
    }
}

