<ion-content class="template main-page">
    <button (click)="openLanguages()" type="button" class="lang template__lang">
        <img src="assets/flags/gbr.svg" class="lang__icon"/>
    </button>
    <img src="assets/img/icons/logo.svg" class="logo main-page__img">
    <footer class="main-page__footer">
        <button type="button" class="btn btn-full main-page__btn">Register</button>
        <button type="button" class="btn btn-login main-page__btn">Login</button>
        <button type="button" class="btn btn_styled main-page__btn">Guest</button>
        <p class="main-page__note">Only registered users get full access to all the functions of the program</p>
    </footer>
</ion-content>

<ion-footer></ion-footer>
