.btn-full {
  @include l-gradient(261.36deg, $second-color, $second-color--lighter);
}

.btn-login {
  @include l-gradient(261.36deg, $third-color, $third-color--lighter);
}

.btn-confirm {
  color: $second-color;
  @include l-gradient(261.36deg, $second-color, $second-color--lighter);
  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background: $white-color;
  }
  &__name {
    margin: 0;
    color: $second-color;
    position: relative;
    z-index: 5;
  }
}

.scan-btn {
  position: absolute;
  bottom: 0;
  width: 87px;
  height: 75px;
  left: 50%;
  transform: translateX(-50%);
  background: icon('circle.svg') no-repeat center bottom;
  &__name {
    font-size: 12px;
    color: $white-color;
    @include font-weight('bold');
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__icon {
    height: 25px;
    margin-bottom: 7px;
    margin-left: -7px;
    margin-top: 10px;
  }
}

.fraud {
  &::before {
    background: $fraud-color;
  }
  &__note {
    color: $white-color;
    background: $fraud-color;
    &::after {
      content: none;
    }
  }
  &__alert {
    display: block;
    background: $fraud-color;
  }
}

.resale {
  &::before {
    background: $resale-color;
  }
  &__note {
    color: $white-color;
    background: $resale-color;
    &::after {
      content: none;
    }
  }
  &__alert {
    display: block;
    background: $resale-color;
  }
}

.section {
  &:not(:last-child) {
    border-bottom: 1px solid rgba($primary-color, .1);
  }
  &__name {
    font-size: 12px;
    color: rgba($primary-color, .7);
    margin: 0;
  }
}



.item-ios .toggle-ios {
  padding: 0;
}

.item-md .toggle-md {
  padding: 0;
}

.label-ios {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: $primary-color;
  white-space: normal;
  margin-right: 30px;
}

.label-md {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: $primary-color;
  white-space: normal;
  margin-right: 30px;
}

.toggle-ios {
  width: 40px;
  height: 18px;
  & .toggle-inner {
    width: 23px;
    height: 23px;
    top: -5px;
    left: -3px;
    box-shadow: none;
    background: $gray-color--lighter;
  }
  & .toggle-icon {
    background: none;
    border: 2px solid $gray-color--darker;
    transition: border-color .2s linear;
  }
  &.toggle-checked {
    & .toggle-icon {
      background: none;
      border-color: $second-color--lighter;
      & .toggle-inner {
        background: $second-color;
        transform: translate3d(20px, 0, 0);
      }
    }
  }
}

.toggle-md {
  width: 40px;
  height: 18px;
  & .toggle-inner {
    width: 23px;
    height: 23px;
    top: -5px;
    left: -3px;
    box-shadow: none;
    background: $gray-color--lighter;
  }
  & .toggle-icon {
    background: none;
    border: 2px solid $gray-color--darker;
    transition: border-color .2s linear;
  }
  &.toggle-checked {
    & .toggle-icon {
      background: none;
      border-color: $second-color--lighter;
      & .toggle-inner {
        background: $second-color;
        transform: translate3d(20px, 0, 0);
      }
    }
  }
}

.auth-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  &__title {
    font-size: 16px;
    color: $resale-color;
    margin: 0;
    text-align: center;
    margin-top: 35px;
    @include font-weight('bold');
  }
  &__btn {
    margin-top: 35px;
  }
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 4px 24px 0 rgba(0, 0, 0, .08);
    & img{
      border-radius: 50%;
    }
  }
  &__name{
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
    color: $primary-color;
    @include font-weight('medium');
  }
  &__telephone-number{
    font-size: 14px;
    color: $primary-color;
    margin: 0;
    margin-top: 8px;
  }
  &__profile{
    position: relative;
    margin-top: 15px;
    padding: 12px 50px;
    border-radius: 40px;
    @include l-gradient(261.36deg, $second-color, $second-color--lighter);
    &::after{
      content: '';
      position: absolute;
      border-radius: 40px;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background: $white-color;
    }
    &-text{
      text-align: center;
      margin: 0;
      position: relative;
      z-index: 5;
      font-size: 14px;
      color: $second-color;
      @include font-weight('medium');
    }
  }
}

.icon-history{
  font-size: 22px;
  color: rgba($primary-color, .6);
}

.icon-search{
  position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        color: rgba($primary-color, .6);
        font-size: 16px;
}

.icon-bonuses{
  font-size: 22px;
  color: rgba($primary-color, .6);
}

.icon-info{
  font-size: 22px;
  color: rgba($primary-color, .6);
}

.icon-settings{
  font-size: 22px;
  color: rgba($primary-color, .6);
}

.icon-scan{
  font-size: 22px;
  color: $white-color;
}

.icon-arrow{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba($black-color, .1);
}

.icon-back-arrow{
  font-size: 20px;
  color: $second-color;
}

.icon-close{
  font-size: 12px;
  color: rgba($primary-color, .3);
}

.icon-language-arrow{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba($primary-color, .5);
}

.icon-check{
  color: rgba($third-color, .8);
  font-size: 10px;
}

.icon-location{
  color: $second-color;
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.icon-plus{
  color: $white-color;
  font-size: 14px;
  margin-top: -2px;
}

.icon-camera{
  font-size: 22px;
  color: $white-color;
}

.icon-out{
  font-size: 20px;
  color: $second-color--lighter;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.country-select{
  @include flex();
  align-items: center;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $gray-color--lighter;
    top: 50%;
    margin-top: -2.5px;
    right: 0;
  }
  &__img{
    display: block;
    max-width: 25px;
    width: 100%;
  }
}