@media screen and (max-height: 570px){
    .logo{
        margin-top: 70px;
    }
}

@media screen and (max-width: 374px){
    .template{
        & .scroll-content{
            padding: 20px 10px;
        }
    }
    .options{
        &__btn{
            padding: 10px 3px;
        }
    }
    
    .tabs{
        padding-left: 0;
        padding-right: 0;
    }
}