.settings{
    &__header{
        padding: 20px 15px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba($black-color, .1);
    }
    &__lang{
        &-text{
            font-size: 13px;
            color: rgba($primary-color, .5);
            margin: 0;
            margin-left: auto;
            margin-right: 20px;
        }
    }
}
