<ion-header class="header header_styled">
  <div class="header__grid">
    <p class="header__title">Settings</p>
  </div>
</ion-header>
<ion-content class="settings">
  <div class="settings__header user">
    <div class="user__img">
      <img src="../../assets/img/user.png">
    </div>
    <p class="user__name">Sunny Vo</p>
    <p class="user__telephone-number">+994 555901489</p>
    <button type="button" class="user__profile">
      <p class="user__profile-text">View profile</p>
    </button>
  </div>
  <div class="settings__list toggle-list">
    <div (click)="openLanguages()" class="settings-item settings__lang">
      <p class="settings-item__name">Language</p>
      <p class="settings__lang-text">English</p>
      <i class="icon icon-arrow"></i>
    </div>
    <div class="settings-item">
      <ion-item class="toggle-list__item">
        <ion-label class="toggle-list__label">Notifications</ion-label>
        <ion-toggle checked="true"></ion-toggle>
      </ion-item>
    </div>
    <div class="settings-item">
      <p class="settings-item__name">Clear Cache</p>
      <i class="icon icon-arrow"></i>
    </div>
    <div class="settings-item">
      <p class="settings-item__name">About App</p>
      <i class="icon icon-arrow"></i>
    </div>
    <div class="settings-item">
      <p class="settings-item__name settings-item__name_styled">Log Out</p>
      <i class="icon icon-out"></i>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="tabs">
    <button type="button" class="tabs__item tabs__item_active">
      <div class="tabs__icon">
        <i class="icon icon-history"></i>
      </div>
      <p class="tabs__name">History</p>
    </button>
    <button type="button" class="tabs__item">
      <div class="tabs__icon">
        <i class="icon icon-bonuses"></i>
      </div>
      <p class="tabs__name">Bonuses</p>
    </button>
    <button class="tabs__item tabs__item_styled"></button>
    <button type="button" class="tabs__item">
      <div class="tabs__icon">
        <i class="icon icon-info"></i>
      </div>
      <p class="tabs__name">Info</p>
    </button>
    <button type="button" class="tabs__item">
      <div class="tabs__icon">
        <i class="icon icon-settings"></i>
      </div>
      <p class="tabs__name">Settings</p>
    </button>
    <button type="button" class="scan-btn">
      <div class="scan-btn__icon">
        <i class="icon icon-scan"></i>
      </div>
      <p class="scan-btn__name">scan</p>
    </button>
  </div>
</ion-footer>
