<ion-header class="header">
  <div class="navbar">
    <div class="segment">
      <ion-segment [(ngModel)]="info">
        <ion-segment-button class="segment__item" value="history">History</ion-segment-button>
        <ion-segment-button class="segment__item" value="complains">Complains</ion-segment-button>
      </ion-segment>
    </div>
    <div class="search header__search">
      <i class="icon icon-search"></i>
      <input type="text" class="search__input" placeholder="Search">
    </div>
  </div>
</ion-header>


<ion-content>
  <div [ngSwitch]="info">
    <div class="products-list">
      <div class="product-list__item history" *ngSwitchCase="'history'">
        <!-- BEGIN item -->
        <div class="product-item">
          <div class="product-item__img">
            <img src="../../assets/img/product.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note">
              <span class="product-item__note-text">10 points</span>
            </p>
          </div>
          <div class="product-item__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item fraud">
          <div class="product-item__img">
            <img src="../../assets/img/product-2.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note fraud__note">Fraud</p>
          </div>
          <div class="product-item__alert fraud__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item resale">
          <div class="product-item__img">
            <img src="../../assets/img/product-3.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note resale__note">Resale</p>
          </div>
          <div class="product-item__alert resale__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item resale">
          <div class="product-item__img">
            <img src="../../assets/img/product-4.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note resale__note">Resale</p>
          </div>
          <div class="product-item__alert resale__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item resale">
          <div class="product-item__img">
            <img src="../../assets/img/product.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note resale__note">Resale</p>
          </div>
          <div class="product-item__alert resale__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item resale">
          <div class="product-item__img">
            <img src="../../assets/img/product-2.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note resale__note">Resale</p>
          </div>
          <div class="product-item__alert resale__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item resale">
          <div class="product-item__img">
            <img src="../../assets/img/product-3.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note resale__note">Resale</p>
          </div>
          <div class="product-item__alert resale__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
      </div>
      <div class="product-list__item complains" *ngSwitchCase="'complains'">
        <!-- BEGIN item -->
        <div class="product-item">
          <div class="product-item__img">
            <img src="../../assets/img/product.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note">
              <span class="product-item__note-text">10 points</span>
            </p>
          </div>
          <div class="product-item__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
        <!-- BEGIN item -->
        <div class="product-item fraud">
          <div class="product-item__img">
            <img src="../../assets/img/product-2.png" alt="Description">
          </div>
          <div class="product-item__info">
            <p class="product-item__name">Play Station 4 Pro</p>
            <p class="product-item__date">04.01.2018 14:55</p>
            <p class="product-item__note fraud__note">Fraud</p>
          </div>
          <div class="product-item__alert fraud__alert">!</div>
          <i class="icon icon-arrow"></i>
        </div>
        <!-- END item -->
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="tabs">
    <button type="button" class="tabs__item tabs__item_active">
      <div class="tabs__icon"><i class="icon icon-history"></i></div>
      <p class="tabs__name">History</p>
    </button>
    <button type="button" class="tabs__item">
      <div class="tabs__icon"><i class="icon icon-bonuses"></i></div>
      <p class="tabs__name">Bonuses</p>
    </button>
    <button class="tabs__item tabs__item_styled"></button>
    <button type="button" class="tabs__item">
      <div class="tabs__icon"><i class="icon icon-info"></i></div>
      <p class="tabs__name">Info</p>
    </button>
    <button type="button" class="tabs__item">
      <div class="tabs__icon"><i class="icon icon-settings"></i></div>
      <p class="tabs__name">Settings</p>
    </button>
    <button type="button" class="scan-btn">
      <div class="scan-btn__icon"><i class="icon icon-scan"></i></div>
      <p class="scan-btn__name">scan</p>
    </button>
  </div>
</ion-footer>
