<ion-header class="header header_styled">
    <div class="header__grid">
        <button type="button" class="back-btn"><i class="icon icon-back-arrow"></i>Back</button>
        <p class="header__title">Idylle</p>
      </div>
</ion-header>


<ion-content class="product" style="background: #fff url('../../assets/img/blur-image.png') no-repeat center top;">
  <div class="toast product__toast">
    <div class="toast__icon"><i class="icon icon-check"></i></div>
    <p class="toast__text">Attempt successfully validated</p>
  </div>
  <div class="product__header section">
    <div class="product__img">
      <img src="../../assets/img/product-img.png" alt="Description">
    </div>
    <p class="product__title">Idylle</p>
    <p class="product__name">Idylle eau de parfum</p>
    <p class="points product__points">
      <span class="points__text">10 points</span>
    </p>
  </div>
  <div class="product__middle section">
    <div class="product__date">
      <p class="product__date-label">Date of release</p>
      <p class="product__date-text">02/10/2017</p>
    </div>
    <div class="product__date">
      <p class="product__date-label">Expiration date</p>
      <p class="product__date-text">08/11/2019</p>
    </div>
  </div>
  <div class="product__footer section">
    <div class="product__footer-header">
      <p class="section__name">About product</p>
      <button (click)="openLanguages()" type="button" class="product__lang">
        <div class="product__lang-icon"><img src="assets/flags/gbr.svg"></div>
        <p class="product__lang-name">English</p>
      </button>
    </div>
    <div class="product__description">
      <p>Thierry Wasser composed his bouquet like a florist, with a light, exuberant touch, to encapsulate the idea of the idyll,
        a joyous light-hearted romance. He had to measure every drop to achieve the perfect harmony, to arouse unprecedented
        and unforgettable sensations through the power of scent. In this combination of the chypre sensuality and the intimate
        facet of white musks with the bouquet of flowers, the symbol of a declaration of love, he manages to express the
        sensuous and romantic idea of the idyll.</p>
    </div>
  </div>
</ion-content>
