.product{
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 15px;
        padding-bottom: 20px;
    }
    &__img{
        width: 100px;
        height: 100px;
        border-radius: 5px;
        box-shadow: 10px 4px 24px 0 rgba(0, 0, 0, .08);
        margin: 0 auto;
        background: $white-color;
    }
    &__title{
        font-size: 12px;
        color: $primary-color;
        margin: 0;
        margin-top: 15px;
        text-align: center;
    }
    &__points{
        z-index: 5;
    }
    &__name{
        margin: 0;
        margin-top: 8px;
        text-align: center;
        font-size: 16px;
        color: $primary-color;
        @include font-weight('medium');
    }
    &__middle{
        display: flex;
    }
    &__date{
        width: 50%;
        padding: 10px 15px;
        &:not(:last-child){
            border-right: 1px solid rgba($primary-color, .1);
        }
        &-label{
            margin: 0;
            font-size: 12px;
            color: rgba($primary-color, .7);
        }
        &-text{
            font-size: 14px;
            margin: 0;
            margin-top: 5px;
            color: $primary-color;
            @include font-weight('medium');
        }
    }
    &__footer{
        padding: 12px 15px;
        &-header{
            display: flex;
            align-items: center;
        }
    }
    &__lang{
        margin-left: auto;
        border: 1px solid rgba($primary-color, .1);
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 5px 8px;
        &-name{
            font-size: 12px;
            color: rgba($primary-color, .7);
            margin: 0;
        }
        &-icon{
            width: 15px;
            margin-right: 5px;
            & img{
                display: block;
            }
        }
    }
    &__description{
        & p{
            font-size: 14px;
            color: $primary-color;
            @include font-weight('medium');
            margin: 0;
            line-height: 1.42;
            margin-top: 15px;
        }
    }
    &__toast{
        top: 58px;
    }
}


.ios{
    & .product{
        &__toast{
            top: 73px;
        }
    }
}