<ion-header class="header header_styled">
  <div class="header__grid">
    <p class="header__title header__title_styled">Bonuses</p>
  </div>
</ion-header>
<ion-content class="bonuses">
  <div class="bonuses__header">
    <div class="bonus-level">
      <img src="../../assets/img/arc.png" alt="Description">
      <div class="bonus-level__arrow" style="transform: translateX(-50%) rotate(35deg);"></div>
      <p class="bonus-level__text">310
        <span>points</span>
      </p>
    </div>
  </div>
  <div class="bonuses__grid gifts">
    <p class="gifts__header">Change the bonuses on gifts</p>
    <!-- BEGIN item -->
    <div class="gift-item">
      <div class="gift-item__img">
        <img src="../../assets/img/product.png" alt="Description">
      </div>
      <p class="gift-item__name">Play Station 4 Pro</p>
      <p class="gift-item__points">100 points</p>
    </div>
    <!-- END item -->
    <!-- BEGIN item -->
    <div class="gift-item">
      <div class="gift-item__img">
        <img src="../../assets/img/product-2.png" alt="Description">
      </div>
      <p class="gift-item__name">Xbox One</p>
      <p class="gift-item__points gift-item__points_disable">300 points</p>
    </div>
    <!-- END item -->
    <!-- BEGIN item -->
    <div class="gift-item">
      <div class="gift-item__img">
        <img src="../../assets/img/product-3.png" alt="Description">
      </div>
      <p class="gift-item__name">Nike Air Max 2k18</p>
      <p class="gift-item__points gift-item__points_resale">500 points</p>
    </div>
    <!-- END item -->
    <!-- BEGIN item -->
    <div class="gift-item">
      <div class="gift-item__img">
        <img src="../../assets/img/product-4.png" alt="Description">
      </div>
      <p class="gift-item__name">Shirt Reebok Black</p>
      <p class="gift-item__points gift-item__points_fraud">700 points</p>
    </div>
    <!-- END item -->
    <!-- BEGIN item -->
    <div class="gift-item">
      <div class="gift-item__img">
        <img src="../../assets/img/product.png" alt="Description">
      </div>
      <p class="gift-item__name">Play Station 4 Pro</p>
      <p class="gift-item__points">300 points</p>
    </div>
    <!-- END item -->
    <!-- BEGIN item -->
    <div class="gift-item">
      <div class="gift-item__img">
        <img src="../../assets/img/product-2.png" alt="Description">
      </div>
      <p class="gift-item__name">Xbox One</p>
      <p class="gift-item__points">500 points</p>
    </div>
    <!-- END item -->
  </div>
</ion-content>
<ion-footer>
    <div class="tabs">
        <button type="button" class="tabs__item tabs__item_active">
          <div class="tabs__icon"><i class="icon icon-history"></i></div>
          <p class="tabs__name">History</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon"><i class="icon icon-bonuses"></i></div>
          <p class="tabs__name">Bonuses</p>
        </button>
        <button class="tabs__item tabs__item_styled"></button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon"><i class="icon icon-info"></i></div>
          <p class="tabs__name">Info</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon"><i class="icon icon-settings"></i></div>
          <p class="tabs__name">Settings</p>
        </button>
        <button type="button" class="scan-btn">
          <div class="scan-btn__icon"><i class="icon icon-scan"></i></div>
          <p class="scan-btn__name">scan</p>
        </button>
      </div>
</ion-footer>
