.bonuses{
    &__header{
        padding: 0 15px;
        padding-bottom: 40px;
        text-align: center;
        border-bottom: 1px solid rgba($black-color, .1);
        & img{
            display: inline-block;
        }
    }
}

.bonus-level{
    position: relative;
    &__text{
        position: absolute;
        left: 50%;
        bottom: 15px;
        transform: translateX(-50%);
        text-align: center;
        font-size: 40px;
        color: $primary-color;
        @include font-weight('light');
        margin: 0;
        & span{
            display: block;
            font-size: 14px;
            @include font-weight('normal');
        }
    }
    &__arrow{
        position: absolute;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background: transparent;
        bottom: -88px;
        left: 50%;
        &::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            left: -10px;
            top: 50%;
            transform: translateY(-50%) rotate(-55deg);
            background: icon('level-arrow.svg') no-repeat center center;
        }
    }
}

.gifts{
    &__header{
        font-size: 12px;
        color: rgba($primary-color, .4);
        margin: 0;
        @include font-weight('medium');
        text-transform: uppercase;
        padding: 12px 15px;
        border-bottom: 1px solid rgba($black-color, .1);
    }
}

@media screen and (max-width: 374px){
    .bonus-level{
        & img{
            max-width: 290px;
            margin: 0 auto;
        }
        &__arrow{
            width: 155px;
            height: 155px;
            bottom: -70px;
        }
        &__text{
            font-size: 35px;
            bottom: 10px;
        }
    }
}