.lang{
    @include flex(row, center, center);
    background: rgba(255,255,255,.6);
    border-radius: 3px;
    width: 50px;
    height: 45px;
    &__icon{
        display: block;
        max-width: 30px;
    }
}

.ios{
    .lang{
        top: 35px;
    }
}