.product-item{
    display: flex;
    padding: 15px 20px;
    padding-right: 40px;
    position: relative;
    border-bottom: 1px solid rgba($black-color, .05);
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $third-color;
        width: 4px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    &__img{
        width: 65px;
        height: 65px;
        background: $white-color;
        border-radius: 5px;
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, .05);
        padding: 5px;
        flex-shrink: 0;
        margin-right: 15px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 10px;
    }
    &__name{
        margin:0;
        font-size: 16px;
        @include font-weight('medium');
        color: $primary-color;
    }
    &__date{
        margin: 0;
        font-size: 11px;
        color: rgba($primary-color, .5);
        margin-top: 5px;
    }
    &__note{
        margin: 0;
        margin-top: 8px;
        padding: 4px 10px;
        border-radius: 30px;
        @include l-gradient(261.36deg, $second-color, $second-color--lighter);
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            top: 1px;
            left: 1px;
            background: $white-color;
            border-radius: 30px;
        }
        &-text{
            font-size: 13px;
            position: relative;
            z-index: 3;
            color: $second-color--lighter;
        }
    }
    &__alert{
        display: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        align-self: center;
        margin-left: auto;
        font-size: 20px;
        line-height: 25px;
        color: $white-color;
        text-align: center;
    }
}