.settings-item{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid rgba($black-color, .1);
    position: relative;
    &__name{
        margin: 0;
        font-size: 16px;
        color: $primary-color;
        &_styled{
            @include font-weight('medium');
            color: $second-color--lighter;
        }
    }
}