.gift-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($black-color, .1);
    padding: 12px 15px;
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        border-radius: 5px;
        flex-shrink: 0;
        background: $white-color;
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, .05);
    }
    &__name{
        font-size: 14px;
        margin: 0;
        @include font-weight('medium');
        color: $primary-color;
        margin-left: 20px;
        flex: 1 1 auto;
        padding-right: 10px;
    }
    &__points{
        margin-left: auto;
        padding: 10px 15px;
        border-radius: 5px;
        color: $white-color;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0;
        @include l-gradient(180deg, $gift-color-first--lighter, $gift-color-first);
        &_disable{
            background: $gray-color--lighter;
        }
        &_resale{
            @include l-gradient(180deg, $gift-color-second--lighter, $gift-color-second);
        }
        &_fraud{
            @include l-gradient(180deg, $gift-color-third--lighter, $gift-color-third);
        }
    }
}