<div class="modal">
  <div class="modal__overlay" (click)="dismiss()"></div>
  <div class="modal__grid">
    <div class="modal__header">
      <p class="modal__title">Select country</p>
      <button type="button" class="modal__close" (click)="dismiss()"><i class="icon icon-close"></i></button>
    </div>
    <div class="modal__content modal__list">
      <!-- BEGIN item -->
      <div class="modal__item" *ngFor="let cntr of countries" (click)="select(cntr)">
        <div class="modal__icon"><img [src]="'assets/flags/'+ cntr.cca3.toLowerCase() + '.svg'"></div>
        <p class="modal__name">{{cntr.name.common}} (+{{cntr.callingCode[0]}})</p>
        <i class="icon icon-language-arrow"></i>
      </div>
      <!-- END item -->
    </div>
  </div>
</div>