<ion-header class="header header_styled">
  <div class="header__grid">
    <p class="header__title header__title_styled">Bonuses</p>
  </div>
</ion-header>
<ion-content class="template">
  <div class="auth-info">
    <img src="../../assets/img/sad.svg" alt="Description">
    <p class="auth-info__title">Only registered users
      <br>can receive bonuses</p>
    <button type="button" class="btn btn-full auth-info__btn">Register</button>
  </div>
</ion-content>
<ion-footer>
    <div class="tabs">
        <button type="button" class="tabs__item tabs__item_active">
          <div class="tabs__icon">
            <i class="icon icon-history"></i>
          </div>
          <p class="tabs__name">History</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-bonuses"></i>
          </div>
          <p class="tabs__name">Bonuses</p>
        </button>
        <button class="tabs__item tabs__item_styled"></button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-info"></i>
          </div>
          <p class="tabs__name">Info</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-settings"></i>
          </div>
          <p class="tabs__name">Settings</p>
        </button>
        <button type="button" class="scan-btn">
          <div class="scan-btn__icon">
            <i class="icon icon-scan"></i>
          </div>
          <p class="scan-btn__name">scan</p>
        </button>
      </div>
</ion-footer>
