.btn{
    @include font();
    padding: 20px 10px;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    color: $white-color;
    @include font-weight('medium');
    &_styled{
        @include l-gradient(360deg, rgba($second-color, .15) -10.34%, rgba($second-color--lighter, .15) 118.91%);
        color: rgba($second-color, .8);
    }
    &_positioned{
        position: absolute;
        bottom: 20px;
        left: 15px;
        width: calc(100% - 30px);
    }
}