<ion-header class="header">
  <div class="navbar">
    <div class="segment">
      <ion-segment [(ngModel)]="info">
        <ion-segment-button class="segment__item" value="history">History</ion-segment-button>
        <ion-segment-button class="segment__item" value="complains">Complains</ion-segment-button>
      </ion-segment>
    </div>
    <div class="search header__search">
      <input type="text" class="search__input" placeholder="Search">
      <i class="icon icon-search"></i>
    </div>
  </div>
</ion-header>


<ion-content class="template">
  <div [ngSwitch]="info">
    <div class="products-list">
      <div class="product-list__item history" *ngSwitchCase="'history'">
        <div class="auth-info">
          <img src="../../assets/img/sad.svg" alt="Description">
          <p class="auth-info__title">Only registered users
            <br>can receive bonuses</p>
          <button type="button" class="btn btn-full auth-info__btn">Register</button>
        </div>
      </div>
      <div class="product-list__item complains" *ngSwitchCase="'complains'">
        <div class="auth-info">
          <img src="../../assets/img/sad.svg" alt="Description">
          <p class="auth-info__title">Only registered users
            <br>can receive bonuses</p>
          <button type="button" class="btn btn-full auth-info__btn">Register</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
    <div class="tabs">
        <button type="button" class="tabs__item tabs__item_active">
          <div class="tabs__icon">
            <i class="icon icon-history"></i>
          </div>
          <p class="tabs__name">History</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-bonuses"></i>
          </div>
          <p class="tabs__name">Bonuses</p>
        </button>
        <button class="tabs__item tabs__item_styled"></button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-info"></i>
          </div>
          <p class="tabs__name">Info</p>
        </button>
        <button type="button" class="tabs__item">
          <div class="tabs__icon">
            <i class="icon icon-settings"></i>
          </div>
          <p class="tabs__name">Settings</p>
        </button>
        <button type="button" class="scan-btn">
          <div class="scan-btn__icon">
            <i class="icon icon-scan"></i>
          </div>
          <p class="scan-btn__name">scan</p>
        </button>
      </div>
</ion-footer>
