.phone-number-page{
    &__grid{
        margin-top: 120px;
    }
    &__text{
        font-size: 14px;
        color: $primary-color;
        text-align: center;
        line-height: 1.42;
        margin: 0;
    }
    &__form{
        margin-top: 40px;
        border: 1px solid $gray-color--darker;
        border-radius: 3px;
        padding-left: 20px;
        display: flex;
    }
    &__input{
        flex: 1 1 auto;
    }
    &__select{
        width: 45px;
        flex-shrink: 0;
    }
}

@media screen and (max-height: 570px){
    .phone-number-page{
        &__grid{
            margin-top: 80px;
        }
        &__form{
            margin-top: 20px;
        }
    }
}