.toast{
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: rgba($third-color, .8);
    border-radius: 0 0 5px 5px;
    padding: 10px 20px;
    z-index: 10;
    &__text{
        font-size: 12px;
        color: $white-color;
        margin: 0;
        //test
        white-space: nowrap;
        @include font-weight('bold');
    }
    &__icon{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $white-color;
        margin-right: 10px;
        text-align: center;
    }
}