.enter-code-page{
    &__grid{
        margin-top: 80px;
        text-align: center;
    }
    &__btn{
        position: absolute;
        left: 15px;
        bottom: 20px;
        width: calc(100% - 30px);
    }
    &__info{
        font-size: 12px;
        color: rgba($primary-color, .8);
        margin: 0;
        line-height: 1.42;
        & b{
            font-size: 16px;
            color: $primary-color;
            @include font-weight('medium');
        }
    }
    &__form{
        margin-top: 75px;
        & > p{
            font-size: 14px;
            color: $primary-color;
            margin: 0;
        }
    }
    &__note{
        margin: 0;
        margin-top: 30px;
        font-size: 12px;
        color: rgba($primary-color, .7);
        & b{
            color: $primary-color;
        }
    }
    &__content{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__input{
        width: 22.75%;
        max-width: 70px;
        height: 55px;
        border: 1px solid $gray-color--darker;
        border-radius: 3px;
        padding: 0 10px;
        text-align: center;
        font-size: 20px;
        color: $primary-color;
        @include font-weight('bold');
        &:not(:last-child){
            margin-right: 3%;
        }
    }
}

@media screen and (max-height: 570px){
    .enter-code-page{
        &__grid{
            margin-top: 50px;
        }
        &__form{
            margin-top: 40px;
        }
        &__note{
            margin-top: 15px;
        }
    }
}