<ion-content class="template enter-code-page">
  <button (click)="openLanguages()" type="button" class="lang template__lang">
      <img src="assets/flags/gbr.svg" class="lang__icon"/>
  </button>
  <img src="assets/img/icons/logo.svg" class="logo main-page__img">
  <div class="enter-code-page__grid">
    <p class="enter-code-page__info">Your phone number
      <br>
      <b>+375 (29) 505 76 11</b>
    </p>
    <div class="enter-code-page__form">
      <p>Enter the last 4 digits of incoming call number</p>
      <div class="enter-code-page__content">
        <input type="tel" class="enter-code-page__input" name="code-number-1">
        <input type="tel" class="enter-code-page__input" name="code-number-2">
        <input type="tel" class="enter-code-page__input" name="code-number-3">
        <input type="tel" class="enter-code-page__input" name="code-number-4">
      </div>
    </div>
    <p class="enter-code-page__note">Example: +1 (858) 252-<b>0199</b></p>
  </div>
  <button class="btn btn-full btn_positioned" type="button">Register</button>
</ion-content>
